MQTT_BROKER_URL=
MQTT_HOST=143.198.218.232
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_AUTH_USERNAME=valast
MQTT_AUTH_PASSWORD=
MQTT_CLIENT_ID=go-printer-termal

MQTT_TOPIC_PREFIX=printer/
MQTT_TOPIC=

ID_MERCHANT=
NAME_MERCHANT=
PRINTER_NAME=EPSON TM-U220 Receipt
PAPER_WIDTH=42
OFFSITE=8